/* Styles for the Advanced Markup assignment. */
header {
	text-align: center;
	height: 5rem;
	border-radius: 1rem;
    border: 2px solid #fff;
    width: 100%;
    margin: 0 0 4rem 0;
	padding: 0 0 4rem 0;
	/* position: fixed; */
	top: 0;
}
h1 {
	text-align: left;
	padding-left: 38px;
}
nav ul li {
	display: inline-flex;
	padding: 10px;
	margin-bottom: 3rem;
	background-color: #B8DB4D;
	border-radius: 1rem;
	font-family: sans-serif;
}
a:link {
	color: #191919;
	text-decoration: none;
}
a.active {
	font-weight: bold;
}
a:visited{
	color: #999999;
}
a:hover {
	font-weight: bold;
	color: #000000;
}
body {
	font-family: sans-serif;
	line-height: 1.4;
	background-image: url("88829-wallpaper06.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}
#sidebar {
	float: right;
	width: 250px;
	background-color: #CCE680;
	padding: 5px 20px 20px 20px;
	margin: 5px 10px 15px 15px;
	border-radius: 20px;
}
.twitter {
	list-style-image: url('twitter.png')
}
.facebook {
	list-style-image: url('facebook.png');
}
.pinterest {
	list-style-image: url('pinterest.png')
}
.email {
	list-style-image: url('email.png')
}
.poem {
	font-size: large;
	float: left;
	list-style-type: none;
	line-height: 1.5;
	background-color: white;
	border-radius: 20px;
	padding: 5px 20px 20px 20px;
	margin: 5px 10px 5px 10px;
}
footer {
	clear: left;
	padding: 15px;
}
dt {
	font-weight: bold;
	margin: 0;
	padding-top: 3px;
}
dd {
	margin: 5px;
	padding-bottom: 5px;
}
.bio-photo {
	float: left;
	padding: 5px 15px 10px 0;
	margin: 0 10px 0 0;
	font-size: small;
}
.bio-photo img {
	border-radius: 10px;
}
.smalltext {
	font-size: small;
}
#selected_works {
	text-align: left;
	padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
}
footer{
	text-align: center;
}
footer ul li {
	text-align: left;
}





